modules = ["python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cacert", "exiftool", "freetype", "ghostscript", "glibcLocales", "gumbo", "harfbuzz", "imagemagickBig", "jbig2dec", "lcms2", "libimagequant", "libjpeg", "libjpeg_turbo", "libtiff", "libwebp", "libxcrypt", "libxml2", "libxslt", "mupdf", "netpbm", "openjpeg", "poppler_utils", "qpdf", "swig", "tcl", "tk", "xcbuild", "xcodebuild", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PDF Telegram Bot"

[[workflows.workflow]]
name = "PDF Telegram Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[deployment]
deploymentTarget = "vm"
run = ["python", "main.py"]

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8346675548:AAGqgGG6nGWZC-oDmUVFVEQUUwGKhjs-Gpc"
