anyio
certifi
charset-normalizer
deprecation
h11
h2
hpack
httpcore
httpx
hyperframe
idna
img2pdf
lxml
packaging
pikepdf
Pillow
python-dotenv
python-telegram-bot
requests
rfc3986
sniffio
tomli
PyMuPDF
pdf2jpg
